<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora</title>
      
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link  rel="stylesheet" href="css/loginpage.css" > 
       
        <style>
            
            



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body{
    margin: auto;
    max-width: 100% ;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}


.navbar{
    display: flex;
    color: white;
    background-color: #1d273d;
    height: 40px;
    justify-content:space-between;
    align-items: center;
    min-height: 80px;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.site_name{
    margin: 30px;
    color: white;
}

.search{
    margin-left: auto;
}

.search_icon{
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}
button.search_question_btn{
    padding: 3px;
    margin: 0;
    width: 33.4px;
    height: 33.4px;
}
.nav_btns{
    margin-right: 30px;
    color: white;
}
.login_btn{
    background-color: white;
    color: #1d273d;
    font-weight: bolder;
    font-size: medium;
}

.modal_div{
    display: flex;
    gap:10px;
    align-items: center;
    margin: 1px 30px;
}

input{
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    }

.add_question > form{
    display: flex;
    gap: 8px;
    align-items: center;
    flex-grow: 1;
    }

input[class=question_input]{
    flex-grow: 1;
    }

.top_buttons{
    margin:20px 0px;
    display: flex;
    /* gap: 15px; */
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    /* max-width: 75%; */
    }

.add_question{
    /* flex-grow: 1; */
    max-width: 75%;
    width: 800px;
    }
    
button{
    align-content: center;
    padding: 8px 8px;
    border-radius: 5px;
    border: 1px solid #9d9d9d;
    cursor: pointer;
    background-color: #1d273d;
    color: white;
    }

.output_div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px 50px;
    align-items: center;
    }

.question{
    width: 800px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    min-height: 100px;
    /* border: solid 1px #9da5a3; */
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ques_info{
    display: flex;
    gap:30px;
    justify-content: right;
    font-size: small;
    align-items: baseline;
    /* opacity: ; */
    cursor: pointer;
}
.ques_text{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 25px;
    cursor: pointer;
}

.question_disp{
    width: 800px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    min-height: 100px;
    /* border: solid 1px #9da5a3; */
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.questioninfo{
    display: flex;
    gap:30px;
    justify-content: right;
    font-size: small;
    align-items: baseline;
    /* opacity: .75; */
}
.questiontext{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 25px;
}

.drop{
    position: relative;
}

.settings{ 
    /* button */
    background: none;
    border: none;
    color: black;
    padding: 0;
    font-weight: bolder;
    font-size: x-large;
}

.menu{
    position: absolute;
    /* left: 0; */
    top: calc(100% + .5rem);
    background-color: white;
    padding: .75rem;
    border-radius: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-10px) ;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}

.menu button {
    width: 80px;
}
/* use :focus for trials of active class */

.drop.active > .settings + .menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.answer_num{
    font-size: small;
    /* opacity: .75; */
}

.add_answer{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.answers_display{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.answers_display > h3{
    font-style: italic;
    font-weight: .75rem;
    padding: 0;
    margin: 0;
}

.answer{
    display: flex;
    flex-direction: column;
    /* min-height: 100px; */
    border-bottom: solid 5px #bec4c2;
    padding: 0px 15px 30px;
    /* border-radius: 5px; */
    gap: 20px;
}

.add_answer> form{
    display: flex;
    gap: 5px;
    align-items: center;
}

.ans_info{
    display: flex;
    gap:30px;
    justify-content: right;
    font-size: small;
    align-items: baseline;
}

button.delete_btn{
    padding: 8px 8px;
    border-radius: 5px;
    border: 1px solid #9d9d9d;

}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out; ;
    border: none;
    /* border-radius: 10px; */
    z-index: 10; /* to make it look higher */
    background-color: white;
    width: 500px;
    max-width: 80%;
    color: black;
}
.login.active{
    transform: translate(-50%, -50%) scale(1);
} 
.header{
    padding: 0px 15px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    background-color:#c8c8c8;
}
.login_title{
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.signup_title{
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0 ;
    cursor: pointer;
}
.hide{
    padding: 10px 20px;
    border-radius: 10px;
    background-color:#c8c8c8 ;
}

.header .close_btn {
    margin-left: auto;
    cursor: pointer;
    border:none;
    outline: none;
    background: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.signup_body{
    padding: 25px 15px 30px;
}
.login_body{
    padding: 25px 15px 30px;
}

form[action='/authentication/login']{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form[action="/authentication/signup"]{
    display: flex;
    flex-direction: column;
    gap: 8px;
    }

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;

}

        </style>
        

</head>

<body>
    <div class="navbar">
        <div class="site_name">
           <h1>Quora</h1> 
        </div>
    
        <div class="search">
             <form action="/searchquestion" method="POST"> 
                <input type="text" name="newquestion" class="ques_input" id="m" placeholder="search anything">
                <button class="search_question_btn"><img class="search_icon" src="/public/media/search-icon.png"></button>
             </form> 
        </div>

        <div class="nav_btns">
                <button data-modal-target="#login" class="login_btn">
                    Login 
                </button>
                <div class="login active" id="login">
                    <div class="header">
                        <div class="login_title">Login</div>
                        <div class="signup_title hide">SignUp</div>
                        <button data-close-btn class="close_btn">&times;</button>
                    </div>
                    <div class="login_body">
                        <form action="/authentication/login" method="POST">
                            <input type="text" name="username" class="username" placeholder="username">
                            <input type="password" name="password" class="password" placeholder="password">
                            <button class="login_now">login</button>
                        </form>
                    </div>
                    <div class="signup_body">
                        <form action="/authentication/signup" method="POST">
                            <input type="text" name="username" class="username" placeholder="username">
                            <input type="password" name="password" class="password" placeholder="password">
                            <button class="signup_now">sign up</button>
                        </form>
                    </div>
                </div>
                
                <div id="overlay" class="active"></div>
                
        </div>    

        <!-- <button>sign OUT</button> -->
    </div>
    
    <div class="top_buttons">
        <!-- <button class="back_btn">back</button> -->
        
        <div class="add_question">
            <!-- <form action="/addquestion" method="POST" data-modal-target="#login"> -->
            <form method="POST" data-modal-target="#login">
                <input type="text" name="newquestion" class="question_input" placeholder="POST A QUESTION">
                <!-- <button class="add_question_btn" data-modal-target="#login">post</button> -->
            </form>
        </div>
    </div>
  
    <div class="output_div">

        
    
    </div>
    
    <script src="/scripts/loginpage.js"></script>


</body>
</html>

