
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora</title>
      
      
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link  rel="stylesheet" href="css/loginpage.css" > 
       
        <style>
            




body{
    margin: auto;
    max-width: 100% ;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.navbar{
    display: flex;
    background-color: #1d273d;
    height: 40px;
    justify-content:space-between;
    align-items: center;
    min-height: 80px;
    gap: 30px;
}
.site_name{
    margin: 30px;
    color: white;
}

.search{
    margin-left: auto;
}

.nav_btns{
    margin-right: 30px;
    color: white;
}
.login_btn{
    background-color: white;
    color: #1d273d;
    font-weight: bolder;
    font-size: medium;
}

.modal_div{
    display: flex;
    gap:10px;
    align-items: center;
    margin: 1px 30px;
}

input{
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    }

form[action='/addquestion']{
    display: flex;
    gap: 8px;
    align-items: center;
    flex-grow: 1;
    }

input[class=question_input]{
    flex-grow: 1;
    }

.top_buttons{
    margin:20px 0px;
    display: flex;
    /* gap: 15px; */
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    /* max-width: 75%; */
    }

.add_question{
    /* flex-grow: 1; */
    max-width: 75%;
    width: 800px;
    }
    
button{
    align-content: center;
    padding: 8px 8px;
    border-radius: 5px;
    border: 1px solid #9d9d9d;
    cursor: pointer;
    background-color: #1d273d;
    color: white;
    }

.output_div{
    /* margin-left:30px; */
    }

.questions_display{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px 50px;
    align-items: center;
    }

[data-question]{
    width: 800px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    min-height: 100px;
    /* border: solid 1px #9da5a3; */
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ques_info{
    display: flex;
    gap:30px;
    justify-content: right;
    font-size: small;
    align-items: center;
}
.ques_text{
    font-size: medium;
    font-weight: bold;
}
.answer_num{
    font-size: small;
}

[answer]{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    border: solid 1px #9da5a3;
    padding: 10px 15px;
    border-radius: 5px;
    gap: 50px;
}

form[action='/addanswer']{
    display: flex;
    gap: 5px;
    align-items: center;
}
.add_answer{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

.ans_info{
    display: flex;
    gap:40px;
    justify-content: right;
}

button.delete_btn{
    padding: 8px 8px;
    border-radius: 5px;
    border: 1px solid #9d9d9d;

}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out; ;
    border: none;
    /* border-radius: 10px; */
    z-index: 10; /* to make it look higher */
    background-color: white;
    width: 500px;
    max-width: 80%;
    color: black;
}
.login.active{
    transform: translate(-50%, -50%) scale(1);
} 
.header{
    padding: 0px 15px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    background-color:#c8c8c8;
}
.login_title{
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.signup_title{
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0 ;
    cursor: pointer;
}
.hide{
    padding: 10px 20px;
    border-radius: 10px;
    background-color:#c8c8c8 ;
}

.header .close_btn {
    margin-left: auto;
    cursor: pointer;
    border:none;
    outline: none;
    background: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.signup_body{
    padding: 25px 15px 30px;
}
.login_body{
    padding: 25px 15px 30px;
}

form[action='/login']{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form[action='/authentication/signup']{
    display: flex;
    flex-direction: column;
    gap: 8px;
    }

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;

}

        </style>
        
</head>

<body>
    <div class="navbar">
        <div class="site_name">
           <h1>Quora</h1> 
        </div>
    
        <div class="search">
             <form action="/searchquestion" method="POST"> 
                <input type="text" name="newquestion" class="ques_input" id="m" placeholder="search anything">
                <button class="search_question_btn">🔍</button>
             </form> 
        </div>

        <div class="nav_btns" id="m">
                <button data-modal-target="#login" class="login_btn">
                    Login 
                </button>
                <div class="login active" id="login">
                    <div class="header">
                        <div class="login_title">Login</div>
                        <div class="signup_title hide">SignUp</div>
                        <button data-close-btn class="close_btn">&times;</button>
                    </div>
                    <div class="login_body">
                        <form action="/login" method="POST">
                            <input type="text" name="username" class="username" placeholder="username">
                            <input type="password" name="password" class="password" placeholder="password">
                            <button class="login_now">login</button>
                        </form>
                    </div>
                    <div class="signup_body">
                        <form action="/authentication/signup" method="POST">
                            <input type="text" name="username" class="username" placeholder="username">
                            <input type="password" name="password" class="password" placeholder="password">
                            <button class="signup_now">sign up</button>
                        </form>
                    </div>
                </div>
                
                <div id="overlay" class="active"></div>
                
        </div>    

        <!-- <button>sign OUT</button> -->
    </div>
    
    <div class="top_buttons">
        <!-- <button class="back_btn">back</button> -->
        
        <div class="add_question">
            <form action="/addquestion" method="POST">
                <input type="text" name="newquestion" class="question_input" id="m" placeholder="POST A QUESTION">
                <button class="add_question_btn">post</button>
            </form>
        </div>
    </div>

    <!-- <div class="modal_div">
        
                <button class="my_questions_btn">my questions</button>
                <button class="all_questions_btn">all questions</button>
            
    </div> -->
  
    <div class="output_div">

        <div class="questions_display">

            <div class="m"  data-uniqueid="14201363-1171-4427-8d99-b6e3d2cc1feb" 
            data-question>
                    <div class="ques_info">
                        <div class="ques_user">posted by: m</div>
                        <div class="ques_date">posted on: date</div>
                        <button class="delete_btn">delete</button>
                    </div>

                    <div class="ques_text">
                        what is AI? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos voluptatem eius quidem enim magni at porro iusto minima earum, quas ducimus deleniti quis, voluptatibus nesciunt explicabo consequatur delectus recusandae fugiat animi soluta placeat mollitia?     
                    </div>
                
                    <div class="add_answer">
                            <button class="add_answer_btn"> + add answer</button>
                        
                            <div class="answer_num">2 previous answers</div>
                    </div>
            </div>
            
            <div class="m" data-uniqueid="093d0db6-e207-49d1-a4ce-c629573323d3" data-question>
                    <div class="ques_info">
                        <div class="ques_user">posted by: m</div>
                        <div class="ques_date">posted on: date</div>
                        <button class="delete_btn">delete</button>
                    </div>

                    <div class="ques_text">
                        when will gta 6 release?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, cum.        
                    </div>
                
                    <div class="add_answer">
                            <button class="add_answer_btn"> + add answer</button>
                        
                            <div class="answer_num">2 previous answers</div>
                    </div>
            </div>

            <div class="mansha" data-uniqueid="f6b50aec-ded6-432a-bfce-e166f075ee0c" data-question>
                    <div class="ques_info">
                        <div class="ques_user">posted by: mansha</div>
                        <div class="ques_date">posted on: date</div>
                        <!-- <button class="del_btn">delete</button> -->
                    </div>

                    <div class="ques_text">
                        what is AI?               
                    </div>
                
                    <div class="add_answer">
                            <button class="add_answer_btn"> + add answer</button>
                        
                            <div class="answer_num">2 previous answers</div>
                    </div>
            </div>

            <div class="mansha" data-uniqueid="27b17ad1-d393-41f1-9d6d-55d41f07d453" data-question>
                    <div class="ques_info">
                        <div class="ques_user">posted by: mansha</div>
                        <div class="ques_date">posted on: date</div>
                        <!-- <button class="del_btn">delete</button> -->
                    </div>

                    <div class="ques_text">
                        do i look like a goat?            
                    </div>
                
                    <div class="add_answer">
                            <button class="add_answer_btn"> + add answer</button>
                        
                            <div class="answer_num">2 previous answers</div>
                    </div>
            </div>

            <div class="mansha" data-uniqueid="8e336b49-d6a2-4885-8897-70284615ba1d" data-question>
                    <div class="ques_info">
                        <div class="ques_user">posted by: mansha</div>
                        <div class="ques_date">posted on: date</div>
                        <!-- <button class="del_btn">delete</button> -->
                    </div>

                    <div class="ques_text">
                        does he like me?             
                    </div>
                
                    <div class="add_answer">
                            <button class="add_answer_btn">+ add answer</button>
                        
                            <div class="answer_num">2 previous answers</div>
                    </div>
            </div>
            
        </div>
    
    </div>
    
    <script src="/scripts/loginpage.js"></script>


</body>
</html>

